@charset "UTF-8";
/* Variables: colores */
/* Variables: tamaños */
html, body {
  width: 100%;
  overflow-x: hidden; }

/* Barra de navegación */
.contenedor .navbar {
  background-color: #FFFF00;
  font-size: 18px;
  font-family: 'Alegreya', serif; }
  .contenedor .navbar .navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: center; }

/* Imágen parallax */
.parallax {
  /* The image used */
  background-image: url("../img/oficinaInterior21.jpg");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* box modeling */
  margin-bottom: 50px; }
  .parallax .parallax__tituloSeccion {
    padding-top: 15%;
    text-align: center; }
    .parallax .parallax__tituloSeccion .parallax__tituloSeccion--titulo {
      background-color: #BBBBBB;
      color: black;
      font-size: 40px;
      font-family: 'Pompiere', cursive; }

/* Configuración general */
h1 {
  color: #787878;
  font-size: 65px;
  text-align: center;
  font-weight: 900;
  margin: 20px 0px;
  font-family: 'Pompiere', cursive; }

h2 {
  color: #787878;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin: 30px 0px;
  font-family: 'Pompiere', cursive; }

h3 {
  color: #787878;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin: 30px 0px;
  font-family: 'Pompiere', cursive; }

p {
  color: black;
  font-size: 18px;
  text-align: justify;
  font-weight: 400;
  margin: 10px;
  font-family: 'Alegreya', serif; }

p {
  text-indent: 15px; }

/* Sección index.html */
.bodyIndex {
  background-color: #F6FF8B; }

.imgLogo {
  display: flex;
  flex-direction: row;
  justify-content: center; }

/* Sección propiedades.html */
.propiedadDisp {
  background-color: #F6FF8B; }

.tituloPropiedad {
  text-transform: uppercase; }

.propSeleccInfo {
  text-transform: uppercase;
  font-family: 'Pompiere', cursive;
  background-color: #BBBBBB;
  text-align: center; }

.padreLinkFormulario {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .padreLinkFormulario .linkFormulario {
    background-color: #FFFF00;
    font-family: 'Pompiere', cursive;
    color: black;
    padding: 10px;
    border-radius: 10px; }

/* Sección contacto.html */
#registroSolicitante {
  border: 1px solid #787878;
  border-radius: 5px;
  background-color: #F6FF8B;
  font-size: 16px;
  margin: 0px 20px; }
  #registroSolicitante .itemForm {
    margin-bottom: 5px;
    width: 100%; }
  #registroSolicitante .itemForm2 {
    width: 80%;
    margin-left: 40px; }
  #registroSolicitante .botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px; }

.boton {
  margin: 5px;
  color: black;
  background-color: #FFFF00;
  font-family: 'Pompiere', cursive;
  border: none;
  border-radius: 5px;
  transition: 1s; }

.boton:hover {
  transform: scale(1.1); }

/* Footer de las secciones */
.container-fluid .footerBootstrap {
  background-color: #BBBBBB;
  font-size: 18px;
  font-family: 'Alegreya', serif;
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 10px; }
  .container-fluid .footerBootstrap .footerBootstrap__itemFooter {
    text-indent: 0px;
    font-weight: 550; }
  .container-fluid .footerBootstrap .footerBootstrap__contenido {
    text-indent: 0px; }

.contenedor .hechoPor {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #FFFF00;
  color: black;
  font-family: 'Alegreya', serif; }

#propiedadesContenedor {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.card {
  margin: 0px 20px; }

.dropdown, .card-text {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.card-title {
  font-family: 'Pompiere', cursive; }

#infoPropiedad {
  border: solid 1px black;
  margin: 20px; }

.subtitulo {
  text-align: center; }

.contenedorFiltros {
  margin: 0px 15px; }

.input-group-text, .custom-select, .form-control {
  font-family: 'Alegreya', serif; }
