@charset "UTF-8";
/* Variables: colores */
/* Variables: tamaños */
html, body {
  width: 100%;
  overflow-x: hidden; }

/* Barra de navegación */
.navbar {
  background-color: #80C5FF;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 60px;
  z-index: 12;
  position: fixed; }

.listaNav {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .listaNav .dropdown-menu {
    background-color: #80C5FF; }
  .listaNav .btn-group {
    margin: 2px;
    transition: 0.1s; }
  .listaNav .btn-group:hover {
    background-color: #56ACDA; }
  .listaNav .btn-active {
    background-color: #56ACDA; }
  .listaNav .btnSubtitle {
    color: black;
    margin: 5px 0px; }
  .listaNav .dropdown-item {
    padding: 5px 15px 5px 0px;
    transition: 0.1s; }
  .listaNav .dropdown-item:hover {
    background-color: #56ACDA; }

/* Configuración general */
h1 {
  color: #787878;
  font-size: 70px;
  text-align: center;
  font-weight: 900;
  margin: 20px 0px;
  padding: 0px;
  font-family: 'Pompiere', cursive; }

h2 {
  color: #787878;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  font-family: 'Pompiere', cursive; }

h3 {
  color: #787878;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin: 20px 0px;
  padding: 0px;
  font-family: 'Pompiere', cursive; }

h4 {
  color: #787878;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin: 10px 0px;
  padding: 0px;
  font-family: 'Pompiere', cursive; }

p {
  color: black;
  font-size: 14px;
  text-align: justify;
  font-weight: 400;
  margin: 5px;
  padding: 0px;
  font-family: 'Roboto', sans-serif; }

p {
  text-indent: 15px; }

.bold {
  font-weight: 600; }

.center {
  text-align: center; }

ol {
  padding: 0px;
  margin: 5px 0px;
  margin-left: 15px; }

.listaContenido {
  color: black;
  font-size: 14px;
  font-weight: 400;
  list-style-type: none;
  margin: 5px;
  padding: 0px;
  font-family: 'Roboto', sans-serif; }

.listaContenidoEnum {
  color: black;
  font-size: 14px;
  font-weight: 400;
  list-style-type: decimal;
  margin: 5px;
  padding: 0px;
  font-family: 'Roboto', sans-serif; }

.listaContenido::before {
  content: "\276F";
  color: #80C5FF;
  padding-right: 10px; }

.botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px; }

.botones2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 15px; }

.botones3 {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.boton {
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  color: black;
  background-color: #80C5FF;
  font-family: 'Pompiere', cursive;
  border: none;
  border-radius: 5px;
  transition: 1s; }

.boton:hover {
  transform: scale(1.1); }

.subtituloSeccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 5px 30px 5px; }

.imgCarousel {
  margin-top: 60px;
  opacity: 0.4; }

.padreTituloSeccion {
  position: relative; }

.hijoTituloSeccion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px #FFFFFF; }

.formContacto {
  margin: 20px 70px 0px 70px;
  border: solid 1px #CFE3E2;
  border-radius: 10px;
  padding: 20px; }
  .formContacto .formContacto-renglon1 {
    margin-bottom: 20px; }

.imgOpacity {
  opacity: 0.7;
  transition: 0.1s; }

.imgOpacity:hover {
  opacity: 1; }

.imgOpacity2 {
  opacity: 1;
  transition: 0.1s; }

.imgOpacity2:hover {
  opacity: 0.7; }

/* Sección index.html */
.contenedorBienvenida {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0px;
  margin-top: 80px; }
  .contenedorBienvenida .contenedorBienvenida__subtituloSeccion {
    margin: 80px 5px 30px 5px; }
    .contenedorBienvenida .contenedorBienvenida__subtituloSeccion .contenedorBienvenida__subtituloSeccion--bienv {
      font-size: 70px; }
    .contenedorBienvenida .contenedorBienvenida__subtituloSeccion .contenedorBienvenida__subtituloSeccion--sub {
      border: solid 1px #80C5FF;
      border-radius: 10px;
      padding: 20px;
      margin-top: 40px; }

.parallax {
  /* The image used */
  background-image: url("../img/paralaxHorizontal.jpg");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .parallax .parallax__tituloSeccion {
    padding-top: 10%;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center; }
  .parallax .parallax__contenedor .parallax__contenedor--Item {
    transition: 1s; }
  .parallax .parallax__contenedor .parallax__contenedor--Item:hover {
    transform: scale(1.1); }
  .parallax .parallax__contenedor .parallax__contenedor--ItemTitulo {
    background-color: #CFE3E2;
    color: black;
    font-size: 30px;
    border: solid 1px black;
    border-radius: 10px;
    padding: 1px 5px; }

.contenedorServ {
  background-color: #CFE3E2;
  border-radius: 10px;
  margin: 0px 70px 50px 70px;
  padding: 0px 20px; }
  .contenedorServ .contenedorServ__item {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .contenedorServ .contenedorServ__item .contenedorServ__item--img {
      display: flex;
      flex-direction: row;
      justify-content: center; }

.contenedorServ-ultimo {
  margin: 0px 70px 0px 70px; }

.padreContTitulo {
  position: relative; }

.hijoContTitulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px #FFFFFF; }

.jumbotron {
  margin: 10px 0px;
  padding: 20px;
  font-size: 14px;
  background-color: #FFFFFF;
  border-radius: 10px;
  color: black;
  font-family: 'Roboto', sans-serif; }

/* Sección quienesSomos.html */
.contenedorInfo {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .contenedorInfo .contenedorInfo__imgGrupo {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .contenedorInfo .contenedorInfo__imgGrupo .contenedorInfo__imgGrupo--img {
      border-radius: 10px; }
  .contenedorInfo .contenedorInfo__contenedor {
    border: solid 1px #80C5FF;
    border-radius: 10px;
    margin: 0px 15px;
    padding-bottom: 10px; }
  .contenedorInfo .contenedorInfo__textos {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .contenedorInfo .contenedorInfo__dialogo {
    font-style: oblique; }
  .contenedorInfo .contenedorInfo__firma {
    margin-top: 10px;
    font-weight: bold;
    text-align: end;
    color: #787878; }

.contenedorInfoFondo {
  background-color: #CFE3E2; }

.contenedorInfoPersonas {
  margin-bottom: 40px; }

.contenedorInfoPersonas-ultimo {
  margin-bottom: 0px; }

/* Sección propiedades.html */
.contenedorExplicacion {
  margin: 0px 70px 30px 70px;
  border: solid 1px #80C5FF;
  border-radius: 10px;
  padding: 10px; }

.contenedorFiltros {
  background-color: #CFE3E2;
  margin-left: 40px;
  padding: 10px;
  border-radius: 10px; }

.card {
  margin: 0px 30px 50px 30px; }
  .card .card-header {
    padding: 0px; }

.propContenedor {
  display: flex;
  flex-direction: column;
  align-items: center; }

.cardNro13 {
  margin: 0px 30px 0px 30px; }

.propSeleccInfo {
  background-color: #CFE3E2; }

.dropdown, .card-text, .propContenedorInfoNoHay {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.dropdown {
  margin-bottom: 30px; }

.input-group-text, .custom-select, .form-control, .dropdown-toggle {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

.carritoCant {
  font-size: 16px; }

.tipoProp {
  font-size: 24px;
  margin: 0px; }

.botonSolicitar {
  margin-left: 10px; }

.botonX {
  text-indent: 0px; }

.input-group-text {
  width: 90px; }

.input-group-text, .input-group-item {
  border: solid 1px #80C5FF;
  border-radius: 5px; }

.modalListo {
  color: green; }

.modalError {
  color: red; }

.formModal {
  background-color: #CFE3E2;
  border-radius: 10px;
  padding: 20px 0px 10px 0px;
  margin: 10px 40px; }
  .formModal .form-group {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .formModal .formModal__item {
    width: 200px; }
  .formModal .form-control-sm {
    border: solid 1px #80C5FF;
    border-radius: 5px; }

/* Sección infoInteres.html */
.card-deck {
  margin: 0px 55px 50px 55px; }

.card-deck-ultimo {
  margin: 0px 55px 0px 55px; }

.infoImportante {
  padding: 10px 5px;
  margin: 10px 40px;
  background-color: #CFE3E2;
  text-indent: 0px; }

.calculoCoef {
  padding: 10px;
  margin: 10px 30px 10px 10px;
  border: solid 1px #CFE3E2;
  border-radius: 5px; }

.infoPrestador {
  margin: 20px 0px; }
  .infoPrestador .infoPrestador__img {
    border-radius: 10px; }

/* Sección contacto.html */
.contacto__subtitulo {
  color: #787878;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin: 10px 0px;
  padding: 0px;
  font-family: 'Pompiere', cursive; }

.oficinaCont {
  margin-left: 70px; }
  .oficinaCont .oficinaCont__mapa {
    margin-top: 10px; }

.redesSocialesCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 70px; }

.redesSociales__img {
  margin-left: 20px;
  transition: 1s; }

.redesSociales__img:hover {
  transform: scale(1.1); }

/* Footer de las secciones */
.container-fluid .footerBootstrap {
  background-color: #CFE3E2;
  font-family: 'Roboto', sans-serif;
  margin-top: 90px;
  padding-top: 30px;
  padding-bottom: 20px; }
  .container-fluid .footerBootstrap .footerBootstrap__contenedorImg {
    display: flex;
    flex: row;
    justify-content: flex-start;
    padding-left: 30px;
    padding-top: 20px; }
  .container-fluid .footerBootstrap .footerBootstrap__itemFooter {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Pompiere', cursive;
    font-size: 24px;
    font-weight: 600;
    color: #787878;
    text-indent: 0px; }
  .container-fluid .footerBootstrap .footerBootstrap__contenido {
    margin: 0px;
    margin-top: 10px;
    text-indent: 0px; }
  .container-fluid .footerBootstrap .footerBootstrap__logo {
    margin-right: 5px; }
  .container-fluid .footerBootstrap .footerBootstrap__enlace {
    margin-top: 0px;
    transition: 0.5s; }
  .container-fluid .footerBootstrap .footerBootstrap__enlace:hover {
    transform: scale(1.1);
    background-color: #56ACDA; }
  .container-fluid .footerBootstrap .footerBootstrap__img {
    margin-right: 10px;
    transition: 1s; }
  .container-fluid .footerBootstrap .footerBootstrap__img:hover {
    transform: scale(1.1); }
  .container-fluid .footerBootstrap .btnFooter {
    padding: 0px 0px 10px 0px; }
  .container-fluid .footerBootstrap .btnActive {
    background-color: #56ACDA; }

.contenedor .hechoPor {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  background-color: #80C5FF;
  color: black;
  font-family: 'Roboto', sans-serif; }

@media only screen and (min-width: 768px) {
  .imgCarouselMobile {
    display: none; } }

@media only screen and (max-width: 768px) {
  .hijoTituloSeccion {
    margin-top: 30px; }
  .imgCarousel {
    display: none; }
  .imgCarouselMobile {
    margin-top: 60px;
    opacity: 0.4; }
  /* Configuración general */
  h1 {
    margin: 20px 10px;
    font-size: 40px; }
  h2 {
    margin: 0px 10px; }
  h3 {
    margin: 20px 10px; }
  h4 {
    margin: 10px 10px; }
  p {
    margin: 5px 10px; }
  .center {
    text-align: justify; }
  .introFormContacto {
    margin: 0px 20px; }
  .formContacto {
    margin: 10px;
    padding: 20px; }
  /* Seccion index.html */
  .contenedorBienvenida .contenedorBienvenida__contenedorImg {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .contenedorBienvenida .contenedorBienvenida__contenedorImg .contenedorBienvenida__contenedorImg--imgLogo {
      height: 250px;
      width: 251px; }
  .contenedorBienvenida .contenedorBienvenida__subtituloSeccion {
    margin: 30px 0px 0px 0px; }
    .contenedorBienvenida .contenedorBienvenida__subtituloSeccion .contenedorBienvenida__subtituloSeccion--bienv {
      font-size: 40px; }
    .contenedorBienvenida .contenedorBienvenida__subtituloSeccion .contenedorBienvenida__subtituloSeccion--sub {
      margin-top: 20px; }
  .parallax {
    /* The image used */
    background-image: url("../img/paralaxVertical.jpg");
    /* Set a specific height */
    height: 700px; }
    .parallax .parallax__contenedor {
      display: flex;
      flex-direction: column; }
      .parallax .parallax__contenedor .parallax__contenedor--Item {
        padding-bottom: 15px; }
      .parallax .parallax__contenedor .parallax__contenedor--ItemImg {
        height: 100px;
        width: 100px; }
      .parallax .parallax__contenedor .parallax__contenedor--ItemTitulo {
        font-size: 24px; }
  .contenedorServ {
    margin: 0px 0px 40px 0px;
    padding: 0px 5px; }
  .contenedorServUltimo {
    margin: 0px; }
  /* Sección quienesSomos.html */
  .contenedorInfo .contenedorInfo__textosMobile {
    padding: 20px; }
  .contenedorInfo .contenedorInfo__dialogo {
    margin-top: 20px;
    font-style: oblique; }
  .contenedorInfo .contenedorInfo__contenedor {
    border: none; }
  /* Sección propiedades.html */
  .contenedorExplicacion {
    margin: 0px 10px 20px 10px;
    padding: 0px;
    border: none; }
  .contenedorFiltros {
    margin: 0px 20px 20px 20px; }
  .propContenedor {
    padding-right: 0px;
    padding-left: 0px; }
  .card {
    margin: 0px 10px 30px 10px; }
  .formModal {
    padding: 20px 0px 10px 0px;
    margin: 10px 0px; }
    .formModal .formModal__item {
      width: 140px; }
      .formModal .formModal__item .formModal__item--p {
        text-align: start;
        text-indent: 0px; }
  /* Sección infoInteres.html */
  .card-deck {
    margin: 0px; }
  .card-deck-ultimo {
    margin: 0px; }
  .card-body {
    padding-right: 20px;
    padding-left: 20px; }
  .infoImportante {
    margin: 10px 5px;
    padding-right: 10px;
    padding-left: 10px; }
  .infoPrestador__contenedorImg {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  /* Sección contacto.html */
  .oficinaCont {
    margin: 0px 10px; }
    .oficinaCont .oficinaCont__item {
      text-align: start; }
  .redesSocialesCont {
    margin: 0px 10px; }
    .redesSocialesCont .redesSocialesCont__interno {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 20px; }
  .redesSociales__img {
    margin-left: 0px;
    height: 90px;
    width: 90px; }
  /* Footer de las secciones */
  .container-fluid .footerBootstrap .footerBootstrap__contenedorTexto {
    padding-left: 30px; }
  .container-fluid .footerBootstrap .footerBootstrap__contenedorImg {
    display: flex;
    flex: row;
    justify-content: center;
    padding-top: 0px; } }
