@import "colores";
@import "tamanios";

html, body{
    width:100%;
    overflow-x:hidden;
    }

/* Barra de navegación */

.navbar {
    background-color: $amarilloBrillante;
    font-size: $xsmall;
    font-family: 'Roboto', sans-serif;
}

.listaNav{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .dropdown-menu {
        background-color: $amarilloBrillante;
    }

    .btn-group {
        margin: 2px;
        transition: 0.1s;
    }

    .btn-group:hover {
        background-color: $amarilloOpaco;
    }

    .btn-active {
        background-color: $amarilloOpaco;
    }
    
    .btnSubtitle {
        color: $negro;
        margin: 5px 0px;
    }

    .dropdown-item {
        padding: 5px 15px 5px 0px;
        transition: 0.1s;
    }

    .dropdown-item:hover {
        background-color: $amarilloOpaco;
    }
}

/* Imágen parallax */

.parallax {
    /* The image used */
    background-image: url("../img/paralaxHorizontal.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .parallax__tituloSeccion {
        padding-top: 10%;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
    }

    .parallax__contenedor {

        .parallax__contenedor--Item {
            transition: 1s;
        }

        .parallax__contenedor--Item:hover {
            transform: scale(1.1);
        }

        .parallax__contenedor--ItemTitulo {
            background-color: $grisClaro;
            color: $negro;
            font-size: $medium;
            border: solid 1px $negro;
            border-radius: 10px;
            padding: 1px 5px;
        }
    }
}

/* Configuración general */

@mixin etiquetas ($color, $tamanio, $alineacion, $grosor, $margin){
    color: $color;
    font-size: $tamanio;
    text-align: $alineacion;
    font-weight: $grosor;
    margin: $margin;
}
h1 {@include etiquetas($grisOscuro, $xlarge, center, 900, 20px 0px);
    font-family: 'Pompiere', cursive;}
h2 {@include etiquetas($grisOscuro, $large, center, 600, 0px);
    font-family: 'Pompiere', cursive;}
h3 {@include etiquetas($grisOscuro, $medium, center, 600, 20px 0px);
    font-family: 'Pompiere', cursive;}
h4 {@include etiquetas($grisOscuro, $small, center, 600, 10px 0px);
    font-family: 'Pompiere', cursive;}
p {@include etiquetas($negro, $xxsmall, justify, 400, 10px);
    font-family: 'Roboto', sans-serif;}
p {text-indent: 15px;}

.p2 {@include etiquetas($negro, $xsmall, center, 400, 20px 10px);
    font-family: 'Roboto', sans-serif;}

ol {
    padding: 0px;
    margin: 10px 0px;
    margin-left: 15px;
}

@mixin listas ($color, $grosor, $estiloLista, $margin, $padding){
    color: $color;
    font-weight: $grosor;
    list-style-type: $estiloLista;
    margin: $margin;
    padding: $padding;
}
.listaContenido { @include listas($negro, 400, none, 10px 0px, 0px);}
.listaContenido2 { @include listas($negro, 400, none, 10px 0px, 0px);}

.listaContenido::before {
    content: "\276F";
    color: $amarilloBrillante;
    padding-right: 10px;
}

.listaContenido2 {
    text-indent: 15px;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.botones2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15px;
}

.botones3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boton {
    font-size: $xsmall;
    font-weight: 600;
    margin: 5px;
    color: $negro;
    background-color: $amarilloBrillante;
    font-family: 'Pompiere', cursive;
    border: none;
    border-radius: 5px;
    transition: 1s;
}

.boton:hover {
    transform: scale(1.1);
}

.subtituloSeccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 5px 30px 5px;
}

.imgCarousel {
    opacity: 0.4;
}

.padreTituloSeccion {
    position: relative;
}

.hijoTituloSeccion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px $blanco;
}

.formIndex {
    margin: 20px 170px 0px 170px;
    border: solid 1px $grisClaro;
    border-radius: 10px;
    padding: 20px;

    .formIndex-renglon1 {
        margin-bottom: 20px;
    }
}

/* Sección index.html */

.contenedorBienvenida {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px;
}

.contenedorBienvenida__subtituloSeccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 5px 30px 5px;
}

.bodyIndex {
    background-color: $fondo;
}

.contenedorServ {
    background-color: $grisClaro;
    border-radius: 10px;
    margin: 0px 70px 50px 70px;
    padding: 0px 20px;

    .contenedorServ__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.contenedorServ__item--img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedorServUltimo {
    margin: 0px 70px 0px 70px;
}

.padreContTitulo {
    position: relative;
}

.hijoContTitulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px $blanco;
}

.imgContTitulo {
    opacity: 0.7;
    transition: 0.1s;
}

.imgContTitulo:hover {
    opacity: 1;
}

.jumbotron {
    margin: 10px 0px;
    padding: 20px;
    font-size: $xxsmall;
    background-color: $blanco;
    border-radius: 10px;
    color: $negro;
    font-family: 'Roboto', sans-serif;
}

.parrafoCentrado {
    text-align: center;
}

/* Sección quienesSomos.html */

.contenedorInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .contenedorInfo__imgGrupo {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .contenedorInfo__imgGrupo--img {
            border-radius: 10px;
        }
    }

    .contenedorInfo__textos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contenedorInfo__contenedor {
        border: solid 1px $amarilloBrillante;
        border-radius: 10px;
        margin: 0px 15px;
        padding-bottom: 10px;
    }

    .contenedorInfo__lista {
        text-align: center;
    }

    .contenedorInfo__lista::before {
        content: "\276F";
        color: $amarilloBrillante;
        padding-right: 10px;
    }

    .contenedorInfo__dialogo {
        font-style: oblique;
    }

    .contenedorInfo__firma {
        margin-top: 0px;
        font-weight: bold;
        text-align: end;
        color: $grisOscuro;
    }
}

.contenedorInfoFondo {
    background-color: $grisClaro;
}

.contenedorInfoPersonas {
    margin-bottom: 40px;
}

/* Sección propiedades.html */

.propSeleccInfo {
    background-color: $grisClaro;
}

.card {
    margin: 0px 30px 50px 30px;
    .card-header {
        padding: 0px;
    }
}

.propContenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown, .card-text, .propContenedorInfoNoHay {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dropdown {
    margin-bottom: 30px;
}

.input-group-text, .custom-select, .form-control, .dropdown-toggle {
    font-family: 'Roboto', sans-serif;
    font-size: $xxsmall;
}

.contenedorFiltros {
    background-color: $grisClaro;
    margin-left: 20px;
    padding: 10px;
    border: solid 1px $amarilloOpaco;
    border-radius: 10px;
}

.carritoCant {
    font-size: $xsmall;
}

.tipoProp {
    font-size: $small;
    margin: 0px;
}

.botonSolicitar {
    margin-left: 10px;
}

.botonX {
    text-indent: 0px;
}

.input-group-text {
    width: 90px;
}

.modalListo {
    color: green;
}

.modalError {
    color: red;
}

/* Sección infoInteres.html */

.card-deck {
    margin: 0px 50px 80px 50px;
}

.card-body {
    font-size: $xxsmall;
    color: $negro;
    font-family: 'Roboto', sans-serif;

    .infoImportante {
        margin: 0px 70px;
        background-color: $grisClaro;
        text-align: center;
        text-indent: 0px;
    }

    .calculoCoef{
        padding: 10px;
        margin: 10px 30px 10px 10px;
        border: solid 1px $grisClaro;
        border-radius: 5px;
        text-align: center;
    }
}

.infoPrestador {
    text-align: center;
    margin-bottom: 20px;

    .infoPrestadorComp{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.imgPrestador {
    border-radius: 10px;
}

/* Sección contacto.html */

#registroSolicitante {
    font-size: $xsmall;
    margin: 10px;

    .itemForm {
        margin-bottom: 5px;
        width: 100%;
    }

    .itemForm2 {
        width: 80%;
        margin-left: 40px;
    }
}

.contacto__subtitulo {
    @include etiquetas($grisOscuro, $xsmall, center, 600, 10px 0px);
    font-family: 'Pompiere', cursive;
}

.redesSocialesCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.redesSociales__img {
    transition: 0.5s;
}

.redesSociales__img:hover {
    transform: scale(1.1);
}

/* Footer de las secciones */

.container-fluid {
    .footerBootstrap {
        background-color: $grisClaro;
        font-family: 'Roboto', sans-serif;
        margin-top: 90px;
        padding-top: 30px;
        padding-bottom: 20px;

        .footerBootstrap__contenedorImg {
            display: flex;
            flex: row;
            justify-content: flex-start;
            padding-left: 30px;
            padding-top: 20px;
        }

        .footerBootstrap__itemFooter {
            margin: 0px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-family: 'Pompiere', cursive;
            font-size: $small;
            font-weight: 600;
            color: $grisOscuro;
            text-indent: 0px;
        }

        .footerBootstrap__contenido {
            margin: 0px;
            margin-top: 10px;
            text-indent: 0px;
        }

        .footerBootstrap__logo {
            margin-right: 5px;
        }

        .footerBootstrap__enlace {
            margin-top: 0px;
            transition: 0.5s;
        }

        .footerBootstrap__enlace:hover {
            transform: scale(1.1);
            background-color: $amarilloOpaco;
        }

        .footerBootstrap__img {
            margin-right: 10px;
            transition: 1s;
        }

        .footerBootstrap__img:hover {
            transform: scale(1.1);
        }

        .btnFooter {
            padding: 0px 0px 10px 0px;
        }

        .btnActive {
            background-color: $amarilloOpaco;
        }
    }
}

.contenedor {
    .hechoPor {
        padding: 10px;
        font-size: $xxsmall;
        text-align: center;
        background-color: $amarilloBrillante;
        color: $negro;
        font-family: 'Roboto', sans-serif;
    }
}

@media only screen and (max-width:768px) {

    /* Imágen parallax */

    .parallax {
        /* The image used */
        background-image: url("../img/paralaxVertical.jpg");

        /* Set a specific height */
        height: 700px;

        .parallax__contenedor {
            display: flex; 
            flex-direction: column;

            .parallax__contenedor--Item {
                padding-bottom: 15px;
            }

            .parallax__contenedor--ItemImg {
                height: 100px;
                width: 100px;
            }

            .parallax__contenedor--ItemTitulo {
                font-size: $small;
            }
        }
    }

    h1 {
        font-size: $large;
    }

    .formIndex {
        margin: 10px;
        padding: 20px;
    }

    /* Seccion index.html */

    .parrafoCentrado {
        text-align: start;
    }

    .contenedorBienvenida {
        margin-top: 20px;

        .contenedorBienvenida__subtituloSeccion {
            margin: 30px 0px 0px 0px;
        }
    }

    .contenedorBienvenida__contenedorImg {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .contenedorBienvenida__contenedorImg--imgLogo {
            height: 250px;
            width: 251px;
        }
    }

    .contenedorServ {
        margin: 0px 0px 40px 0px;
        padding: 0px 5px;
    }

    .contenedorServUltimo {
        margin: 0px;
    }

    /* Sección quienesSomos.html */

    .contenedorInfo {
        .contenedorInfo__contenedor {
            border: none;
        }
    }

    /* Sección infoPropiedades.html */

    .card {
        margin: 0px 5px 20px 5px;
    }

    .card-deck {
        margin: 0px 10px 30px 10px;
    }

    .card-body {
        .infoImportante {
            margin: 0px 20px;
        }
    }

    .contenedorFiltros {
        margin: 0px 20px 20px 20px;
    }

    /* Sección contacto.html */


    /* Footer de las secciones */

    .container-fluid {
        .footerBootstrap {
    
            .footerBootstrap__contenedorTexto {
                padding-left: 30px;
            }

            .footerBootstrap__contenedorImg {
                display: flex;
                flex: row;
                justify-content: center;
                padding-top: 0px;
            }
        }
    }
    
}
