@import "colores";
@import "tamanios";

html, body{
    width:100%;
    overflow-x:hidden;
    }

/* Barra de navegación */

.contenedor {
    .navbar {
        background-color: $amarilloBrillante;
        font-size: $small;
        font-family: 'Alegreya', serif;

        .navbar-collapse{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}

/* Imágen parallax */

.parallax {
    /* The image used */
    background-image: url("../img/oficinaInterior21.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* box modeling */
    margin-bottom: 50px;

    .parallax__tituloSeccion {
        padding-top: 15%;
        text-align: center;

        .parallax__tituloSeccion--titulo {
            background-color: $grisClaro;
            color: $negro;
            font-size: $large;
            font-family: 'Pompiere', cursive;
        }
    }
}

/* Configuración general */

@mixin etiquetas ($color, $tamanio, $alineacion, $grosor, $margin){
    color: $color;
    font-size: $tamanio;
    text-align: $alineacion;
    font-weight: $grosor;
    margin: $margin;
}
h1 {@include etiquetas($grisOscuro, $xlarge, center, 900, 20px 0px);
    font-family: 'Pompiere', cursive;}
h2 {@include etiquetas($grisOscuro, $large, center, 600, 30px 0px);
    font-family: 'Pompiere', cursive;}
h3 {@include etiquetas($grisOscuro, $medium, center, 600, 30px 0px);
    font-family: 'Pompiere', cursive;}
p {@include etiquetas($negro, $small, justify, 400, 10px);
    font-family: 'Alegreya', serif;}
p {text-indent: 15px;}


/* Sección index.html */

.bodyIndex {
    background-color: $fondo;
}

.imgLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Sección propiedades.html */

.propiedadDisp {
    background-color: $fondo;
}

.tituloPropiedad {
    text-transform: uppercase;
}

.propSeleccInfo {
    text-transform: uppercase;
    font-family: 'Pompiere', cursive;
    background-color: $grisClaro;
    text-align: center;
}

.padreLinkFormulario {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .linkFormulario {
        background-color: $amarilloBrillante;
        font-family: 'Pompiere', cursive;
        color: $negro;
        padding: 10px;
        border-radius: 10px;
    }
}

/* Sección contacto.html */

#registroSolicitante {
    border: 1px solid $grisOscuro;
    border-radius: 5px;
    background-color: $fondo;
    font-size: $xsmall;
    margin: 0px 20px;

    .itemForm {
        margin-bottom: 5px;
        width: 100%;
    }

    .itemForm2 {
        width: 80%;
        margin-left: 40px;
    }

    .botones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px;
    }
}

.boton {
    margin: 5px;
    color: $negro;
    background-color: $amarilloBrillante;
    font-family: 'Pompiere', cursive;
    border: none;
    border-radius: 5px;
    transition: 1s;
}

.boton:hover {
    transform: scale(1.1);
}

/* Footer de las secciones */

.container-fluid {
    .footerBootstrap {
        background-color: $grisClaro;
        font-size: $small;
        font-family: 'Alegreya', serif;
        margin-top: 60px;
        padding-top: 30px;
        padding-bottom: 10px;

        .footerBootstrap__itemFooter {
            text-indent: 0px;
            font-weight: 550;
        }
        .footerBootstrap__contenido {
            text-indent: 0px;
        }
    }
}

.contenedor {
    .hechoPor {
        padding: 10px;
        font-size: $xsmall;
        text-align: center;
        background-color: $amarilloBrillante;
        color: $negro;
        font-family: 'Alegreya', serif;
    }
}

#propiedadesContenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin: 0px 20px;
}

.dropdown, .card-text {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-title {
    font-family: 'Pompiere', cursive;
}

#infoPropiedad {
    border: solid 1px $negro;
    margin: 20px;
}

.subtitulo {
    text-align: center;
}

.contenedorFiltros {
    margin: 0px 15px;
}

.input-group-text, .custom-select, .form-control {
    font-family: 'Alegreya', serif;
}